@import 'mixin';

body > main .gallery {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.375em, 1fr));
  justify-content: center;
  margin: 1.875em;
  margin-top: 3em;
  gap: 1.875em;

  article {
    width: 100%;
    height: 21.25em;
    border-radius: 8px;
    position: relative;
    @include bordered;
    @include hovered("hover");

    a {
      display: block;
      cursor: pointer;
    }

    .cover {
      height: 16.875em;
      width: 100%;
      background-color: var(--color-theme-1);
      border-bottom: 2px solid #000000;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      border-radius: 6px 6px 0 0;

      &.read {
        -webkit-filter: brightness(30%);
        filter: brightness(30%);
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 6px 6px 0 0;
      }

    }

    &.folder .folder-img {
      display: block;
      background-image: url(/images/folder.svgz);
      background-size: contain;
      width: 10em;
      height: 10em;
    }

    &.folder .folder-nb-items {
      display: block;
      position: absolute;
      top: 7.9em;
      font-weight: 700;
      font-size: 1.8em;
      text-align: center;

      color: white;
      text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
    }

    .title {
      background-color: white;
      border-radius: 0 0 6px 6px;
      height: 4.375em;
      display: flex;
      justify-content: center;
      align-items: center;


      h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        padding: 0 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .favorite {
      display: block;
      position: absolute;
      background-color: white;
      border-radius: 50%;
      @include bordered;
      width: 4em;
      height: 4em;
      top: -1.5em;
      right: -1.2em;
      background-image: url(/images/heart.svgz);
      background-size: 1.9em 2em;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition:
          transform 0.1s ease,
      }

      &.bookmarked {
        width: 4.15em;
        height: 4.15em;
        right: -1.3em;
        background-color: var(--color-theme-3);
        background-image: url(/images/heart-full.svgz);
        background-size: 2.1em 2.2em;
      }
    }
  }

  @media only screen and (max-width: 799px) {
    grid-template-columns: repeat(auto-fill, minmax(12em, auto));
    margin: 1.5em;
    margin-top: 2.5em;
    gap: 1.5em;

    article {
      width: 100%;
      height: 17.375em;

      .cover {
        height: 14em;
      }

      &.folder .folder-img {
        display: block;
        background-image: url(/images/folder.svgz);
        background-size: contain;
        width: 8.5em;
        height: 8.5em;
      }

      &.folder .folder-nb-items {
        top: 8.6em;
        font-weight: 600;
        font-size: 1.4em;

        text-shadow:
          1px 1px 0 #000,
          -1px 1px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000;
      }

      .title {
        height: 3.375em;

        h2 {
          font-size: 18px;
        }
      }

      .favorite {
        width: 3.2em;
        height: 3.2em;
        top: -1em;
        right: -1.2em;
        background-size: 1.5em 1.7em;

        &.bookmarked {
          width: 3.65em;
          height: 3.65em;
          right: -1.4em;
          background-size: 1.9em 2em;
        }
      }
    }
  }
}
