@import 'mixin';
@import 'component-rounded-button';

body > header {
  height: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-right: 30px;

  .logo a {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 600;
    color: white;
    text-shadow:
      2px 2px 0 #000,
      -2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      0px -6px 0 var(--color-theme-1),
      -6px 6px 0 var(--color-theme-2),
      6px 6px 0 var(--color-theme-3);
  }

  @media only screen and (min-width: 800px) {
    nav .menu {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        position: relative;

        > a.nav-button {
          display: block;
          font-size: 20px;
          font-weight: 600;
          padding: 10px 25px;
          border-radius: 24px;
          @include bordered;
          @include hovered("hover");
        }

        > a.nav-button-1 {
          background-color: var(--color-theme-1);
        }

        > a.nav-button-2 {
          background-color: var(--color-theme-2);
        }

        > a.nav-button-3 {
          background-color: var(--color-theme-3);
        }
      }

      .prefs-button {
        > label {
          top: 1px;
          font-size: 30px;
          user-select: none;
        }
      }

      #prefs-checkbox {
        display: none;
        max-height: none;

        &:checked ~ .prefs-menu {
          display: flex;
        }

        &:checked ~ button.prefs-button {
          @include selected-rounded-button;
        }
      }

      .prefs-menu {
        display:none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 90px;
        right: 10px;

        width: 200px;
        background-color: var(--color-theme-1-light);
        @include bordered;
        border-radius: 8px;

        font-size: 20px;
        font-weight: 600;

        > li {
          &:first-child {
            border-radius: 6px 6px 0 0;
            a {
              border-radius: 6px 6px 0 0;
            }
          }

          &:last-child {
            border-radius: 0 0 6px 6px;
            a {
              border-radius: 0 0 6px 6px;
            }
          }

          a {
            display: block;
            width: auto;
            padding: 10px 0px;
          }
        }

        > li:hover a {
          background-color: var(--color-theme-1);
        }
      }
    }

    #lasagna-checkbox,
    .lasagna-button {
      display: none;
    }
  }

  @media only screen and (max-width: 799px) {
    .lasagna-button {
      > label img {
        position: relative;
        top: 4px;
        width: 32px;
      }
    }

    #lasagna-checkbox {
      display: none;

      &:checked ~ .menu {
        display: block;
      }

      &:checked ~ .lasagna-button {
        @include selected-rounded-button;
      }
    }

    nav .menu {
      display:none;
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 90px;
      right: 0px;

      width: 100%;
      background-color: var(--color-theme-1-light);
      @include bordered;
      border-right: 0;
      border-radius: 8px;

      font-size: 20px;
      font-weight: 600;
      z-index: 10;

      li {
        &:first-child {
          border-radius: 6px 6px 0 0;
          a {
            border-radius: 6px 6px 0 0 !important;
          }
        }

        &:last-child {
          border-radius: 0 0 6px 6px;
          a {
            border-radius: 0 0 6px 6px !important;
          }
        }

        a {
          width: auto;
          padding: 10px 0px;
          display: block;
          border: none;
          border-radius: 0;
          box-shadow: none;
          background-color: transparent;

          &:hover {
            box-shadow: none;
            transform: none;
          }
        }

        > a.nav-button-1:hover {
          background-color: var(--color-theme-1);
        }

        > a.nav-button-2:hover {
          background-color: var(--color-theme-2);
        }

        > a.nav-button-3:hover {
          background-color: var(--color-theme-3);
        }

        a:hover {
          background-color: var(--color-theme-1);
        }
      }

      #prefs-checkbox,
      .prefs-button {
        display: none;
      }

      .prefs-menu:before {
        content: '';
        width: 40%;
        border-bottom: solid 1px #000000;
        position: absolute;
        left: 30%;
        top: 50%;
        z-index: 1;
      }
    }
  }
}
