:root {
  --color-theme-1: #FB9E4B;
  --color-theme-1-light: #FFECD9;
  --color-theme-2: #00BFD1;
  --color-theme-2-light: #D6FBFF;
  --color-theme-3: #F65A60;
  --color-theme-3-light: #FFE0E0;
  --color-favorite: #F65A60;
}
