.responsive {
  width: 100%;
  height: auto;
}

a.navigation {
  text-decoration: none;
}
a.navigation:hover {
  border: 1px solid #777;
}

.infos {
  text-align: center;
}

img.infos {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.cover_read {
  -webkit-filter: brightness(30%); /* Safari 6.0 - 9.0 */
  filter: brightness(30%);
}

.box_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  position: relative;
}

div.gallery {
  margin: 5px;
  padding: 15px;
  /* float: left; */
  width: 180px;
  /* height: 245px; */
  display: inline-block;
  vertical-align: bottom;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery_desc {
  margin: 12px 0 0 0;
  text-align: center;
  height: 70px;
  overflow: hidden;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.file_number {
  position: absolute;
  top: 0px;
  right: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.flags {
  position: absolute;
  top: 5px;
  left: 10px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-size: 25px;
}
